<div>
  <mat-card>
    <mat-card-title>Cadastro de Usuário</mat-card-title>
    <mat-card-content>
      <form fxLayout="column" fxLayoutAlign="space-around center" fxFill>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome" type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>e-mail</mat-label>
          <input matInput placeholder="email" type="email">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Senha</mat-label>
          <input matInput placeholder="Senha" type="password">
        </mat-form-field>
        <div>
          <button mat-button color="primary" type="submit">Cadastrar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>