.product-detail-container{
    border: 1px solid red;
}

.product-detail-content {
    border: 1px solid blue;
}

.product-detail-card {
    border: 1px solid green;
}

.product-detail-description {
    border: 1px solid yellow;
}


